section {
  display: table;
}

mat-card{
  display: grid;
}
@media (min-width: 640px), (max-width: 1281px){
  h1{
    margin-left: 65px;
    margin-top: 15px;
  }
  .titulo{
    background: rgb(125, 138, 255);
    width: 100%;

  }

.geral{
  margin-left: 10%;
  margin-right: 10%;

  border: 1px solid black;
}
.center{
  margin-left: 90px;
  margin-right: 160px;
  border: 1px solid black;
  border-radius: 0px;
  width: 76%;

}
.form1{
  margin-left: 65px;
    margin-top: 30px;
    width: 160% !important;

}
.form2{
  margin-left: 65px;
  width: 160% !important;

}
.form3{
  margin-left: 65px;

}

.buttom{
  text-align: end;
  width: 200%;
  margin-bottom: 30px;
}

.buttom-excluir{
  margin-right: 30px;
}

.new{
  text-align: end;
  margin-bottom: 4%;
  margin-top: 4%;
  margin-right: 5%

}
.valor{
  margin-left: 35px;
  margin-top: 10px;
}
.new-buttom{
  width: 20%;
  font-size: 20px;
}
mat-drawer{
  margin-left: 35px;
}
mat-form-field{
  width: auto;
}
.example-container .mat-form-field + .mat-form-field{
  margin-left: 0;
}
}
@media screen and (max-width: 767px){

.geral{
  width: auto;
  margin: auto;
  height: auto;
}
mat-drawer{
  margin-left: 0px;
  width: 47% !important;

}

.center {
  margin: 0;
  border: 1px solid black;
  border-radius: 0px;
  width: 95%;
}
.form1 {
  margin: 10px;
  margin-top: 30px;
  width: 70% !important;
}
.form2 {
  margin: 10px;
  width: 70% !important;
}
.form3 {
  margin: 10px;
   width: 70% !important;
}
.buttom {
  text-align: initial;
  width: 95%;
  margin-bottom: 20px;
  margin-left: 8px;

}
.new-buttom {
  width: auto;
  font-size: 20px;
}
.buttom-excluir {
  margin-right: 10px;
  margin-left: 5px

}
}
