<div class="geral">
<section class="titulo">
  <h1>Teste Gobetti</h1>

</section>
<mat-drawer-container class="example-container">

  <mat-drawer mode="side" opened>
    <section *ngIf=" debts" >
      <mat-card class="card" *ngFor="let debt of debts[1]" (click)="onSelectDebt(debt)">

        <mat-card> {{debt.name}} <br>{{debt.value|currency}} </mat-card>


      </mat-card>


    </section>

  </mat-drawer>
  <div class="valor">

  </div>
  <mat-drawer-content>

<div class="center">
<section *ngIf="debt" >

    <p>
      <mat-form-field class="form1" appearance="legacy">
        <mat-label>Clientes</mat-label>
        <mat-select   [(ngModel)]="debt.idJsonPlaceHolder"   >
          <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form2"  appearance="standard">
        <mat-label>Motivo</mat-label>
        <input matInput [(ngModel)]="debt.reason"   placeholder="Venda"/>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form3" appearance="fill">
        <mat-label>Valor</mat-label>
        <input    matInput type="number"  [(ngModel)]="debt.value" placeholder=00.00/>


      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form3" appearance="outline">
        <mat-label>Data</mat-label>
        <input    matInput type="date"  [(ngModel)]="debt.date" placeholder="Placeholder"/>

      </mat-form-field>
    </p>
    <div class="buttom">
      <button class="buttom-excluir" (click)="delete()" mat-raised-button>Excluir</button>
      <button (click)="save()"mat-raised-button>Salvar</button>

    </div>

  </section>

  </div>

  </mat-drawer-content>
</mat-drawer-container>

<div class="new">
  <button class="new-buttom" (click)="clearDebt()"mat-raised-button>Novo</button>
</div>
</div>
